
@{
    ViewBag.Title = "Ошибка";
}

<h2>Загруженный файл не соответствует требованиям!</h2>

<div>
    @Html.ActionLink("Назад", "Index", new { @Controller = "Тип_иглы" }, new { @class = "inlinel u-active-none u-border-none u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-2 " })
</div>