@model BeautyStudioPractice.Скидка

@{
    ViewBag.Title = "Удаление скидки";
}

<h2>Удаление скидки</h2>

<h3>Вы действительно хотите удалить эту скидку?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Размер скидки")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Размер_скидки)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Удалить" class = "inlinel u-active-none u-border-none u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-2" style="display: inline; padding: 0; border: 0; background-color: transparent; font-size: 13.5px; color: #337ab7;" /> |
    @Html.ActionLink("Отмена", "Index", new { @Controller = "Скидка" }, new { @class = "inlinel u-active-none u-border-none u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-2 " })
</div>
    }
</div>
